body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
}

h1, p {
  color: #333;
}

#main {
  margin: 0 auto;
  width: 80%;
}

#titles {
  text-align: center;
}

#ex_container {
  width: 70%;
  min-height: 200px;
  position: relative;
  float: left;
  border: 1px solid #ccc;
  background-color: #fff;
}

#resp_container {
  width: 70%;
  min-height: 200px;
  float: left;
  border: 1px solid #ccc;
  background-color: #fff;
}

#tip_container {
  width: 25%;
  min-height: 200px;
  float: right;
  padding-left: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}

#success_container {
  margin-top:auto;
}

#raptor_container {
  width: 25%;
  min-height: 100px;
  float: right;
  padding-left: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}

.success {
  color: green;
}

.fail {
  color: red;
}